  body
{
	font-family: -apple-system, sans-serif !important;
}

  code, .code
, pre, .pre
, .blob-wrapper
, .commit-tease-sha
, .sha-block
, .file-info
{
	font-family: SF Mono, monospace, monospace !important;
	font-size: inherit !important;
}

  *
{
	font-family: inherit !important;
}
