/* Ｕｎｉｃｏｄｅ　ＵＴＦ－８ */

@font-feature-values "Andika", "Andika New Basic", "Andika Basic" {
	@styleset {
		disableliteracy: 1;
	}
	@character-variant {
		sixnine: 6;
		ltail: 39;
		Qalt: 52;
		ytail: 67;
		vietnameseaccents: 75;
	}
}

body {
	font-synthesis: none;
}

a, abbr, acronym, address, applet, area, article, aside, audio,
b, base, basefont, bdi, bdo, bgsound, big, blink, blockquote, body, br, button,
canvas, caption, center, cite, code, col, colgroup, content, contributors,
data, datalist, dd, del, details, dfn, dialog, dir, div, dl, dt,
em, embed, fieldset, figcaption, figure, font, footer, form, frame, frameset,
head, header, hgroup, hr, html,
h1, h2, h3, h4, h5, h6,
i, iframe, image, img, input, ins, isindex,
kbd, keygen,
label, legend, li, link, listing,
main, map, mark, marquee, menu, menuitem, meta, meter, multicol,
nav, nextid, nobr, noembed, noframes, noscript,
object, ol, optgroup, option, output,
p, param, picture, plaintext, portal, pre, progress,
q,
rb, rp, rt, rtc, ruby,
s, samp, script, section, select, shadow, slot, small, source, spacer, span, strike, strong, style, sub, summary, sup,
table, tbody, td, template, textarea, tfoot, th, thead, time, title, tr, track, tt,
u, ul,
var, video,
wbr,
xmp,
::before, ::after, :hover, :active {
	font-variant-alternates:
		character-variant(four, six, nine, sixnine, ell, ltail, Qalt, ytail, vietnameseaccents)
		styleset(cyrillictrapezoid, autoc2sc, autoquotes, disableliteracy) !important;
}

@-moz-document domain(wikipedia.org), domain(wiktionary.org) {
	.Hani.mention:lang(zh) {
		font-weight: normal !important;
	}
}

@-moz-document domain(cc-cedict.org), domain(mdbg.net) {
	body, select {
		font-family: "Source Sans 3", "Source Han Sans SC" !important;
	}
	textarea, input {
		font-family: "Source Han Mono SC" !important;
	}
	body, p, h1, h2, h3, h4, h5, h6, a, input, table, th, td, textarea, select, div, span {
		font-family: "Andika New Basic", "Andika", sans-serif !important;
	}
}

@-moz-document domain(wenlin.co) {
	.wenlin-band-char {
		font-size: 200% !important;
	}
	.wenlin-band-char > a {
		font-family: "FZFangSong-Z02", "FZFangSongB-Z02" !important;
	}
	.mw-changeslist-line-watched .mw-title,
	.wenlin-band-hw {
		font-weight: normal !important;
	}
	.wenlin-band-char {
		font-family: "Source Han Sans SC";
		line-height: 1;
		font-feature-settings: "hwid";
	}
	.wenlin-band-en,
	.wenlin-band-ps {
		font-variant-caps: all-small-caps;
	}
	.wenlin-band-ps::before,
	.wenlin-band-ps::after,
	:not(.wenlin-band-df) + .wenlin-band-en::after,
	.wenlin-band-mw::after,
	.wenlin-band-df::after,
	.wenlin-band-tr::after,
	.wenlin-band-in::after,
	.wenlin-band-see::after,
	.wenlin-band-hh::after,
	.wenlin-band-char + .wenlin-band-hw::before,
	.wenlin-band-hw + .wenlin-band-char::before,
	.mw-parser-output > p > span + b::before {
		content: "\A";
		white-space: pre;
	}
	.wenlin-band-df::before {
		content: " ";
	}
	.wenlin-band-char-single > a,
	.wenlin-band-char > a {
		color: unset !important;
	}
}
