
:root {
	--height: 30px;
}

#nav-bar {
	max-width: 42vw !important;
	margin-right: 58vw !important;
	margin-top: calc(0px - var(--height)) !important;
	padding: 0 !important;
	margin-bottom: 0 !important;
}

[id="urlbar-container"] {
	--urlbar-container-height: var(--height) !important;
}

[id="urlbar"],
[id="urlbar-input-container"] {
	--urlbar-height: 28px !important;
	--urlbar-toolbar-height: 31px !important;
}

#TabsToolbar {
	max-width: 58vw !important;
	margin-left: 42vw !important;
	padding: 0 !important;
	margin-bottom: 0 !important;
}

/* END MERGE TOOLBAR */

.urlbar-history-dropmarker,
.urlbar-page-action,
#star-button,
#urlbar-go-button {
	visibility: collapse !important
}

.tab-line {
	height: 0 !important;
}

.tab-background {
	border-top: none !important;
}

#urlbar-container, #search-container {
	margin-inline: 0 !important;
}











window, page, dialog, wizard {
	font-family: sans-serif, zhs, zht !important;
}

/*
[class="urlbar-input textbox-input"] {
	font-family: monospace, monospace, sans-serif !important;
	font-size: 10pt !important;
}
*/

:root[uidensity="compact"] #urlbar, :root[uidensity="compact"] .searchbar-textbox {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: calc(0.25 * var(--toolbarbutton-inner-padding)) !important;
	margin-right: calc(0.25 * var(--toolbarbutton-inner-padding)) !important;
}

:root {
	--toolbarbutton-inner-padding: 5px !important;
}

:root {
	--toolbarbutton-border-radius: 0 !important;
}

#urlbar, .searchbar-textbox,
#navigator-toolbox {
	border: none !important;
	box-shadow: none !important;
}

:root:-moz-lwtheme-brighttext {
	--toolbar-bgcolor: #000 !important;
}

#urlbar:not([focused="true"]):-moz-lwtheme-brighttext {
	background-color: #000 !important;
}

#urlbar:-moz-lwtheme-brighttext ::-moz-selection {
	background-color: #888 !important;
}

#navigator-toolbox {
	border-bottom: none !important;
}

#fullscr-toggler {
	height: 0px !important;
}

@font-feature-values "System Font", ".SF NS Text", ".SF NS Display", ".SF NS Rounded", "SF Pro Text", "SF Pro Display", "SF Compact Text", "SF Compact Display" {
	@character-variant {
		six: 1;
		nine: 2;
		four: 3;
		ell: 6;
	}
}

@font-feature-values "Parabolarentur" {
	@styleset {
		smcpnum: 7;
		autoc2sc: 17;
		autoquotes: 18;
		udieresistov: 20;
	}
}

@font-feature-values "Andika", "Andika New Basic", "Andika Basic" {
	@styleset {
		disableliteracy: 1;
	}
	@character-variant {
		sixnine: 6;
		ltail: 39;
		Qalt: 52;
		ytail: 67;
		vietnameseaccents: 75;
	}
}

*,
:hover, :active, ::before, ::after {
	font-variant-alternates:
		character-variant(four, six, nine, sixnine, ell, ltail, Qalt, ytail, vietnameseaccents)
		styleset(cyrillictrapezoid, autoc2sc, autoquotes, disableliteracy)
		!important;
	/* font-variation-settings: "opsz" 12, "GRAD" 400, "YAXS" 400, "wght" 400 !important; */
	font-variant-ligatures: none;
	font-synthesis: none;
}

